@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
}

@layer base {
  body {
    @apply font-manrope;
    background-color: #1e2939;
  }
}

/* Product Slider CSS Customization */
.sliderThumbs .swiper-wrapper {
  gap: 1rem;
}

.sliderThumbs .swiper-wrapper > * {
  border-radius: 0.5rem;
  flex-shrink: 1;
}

.sliderThumbs .swiper-wrapper > * img {
  border-radius: 0.5rem;
}
